{% block content %}

<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>

  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>


  <script type=text/javascript>
    $(document).ready(function() {
	var socket = io.connect('http://127.0.0.1:5000/');
	socket.on('connect', function() {
		socket.send('A user entered the room');
	});
	socket.on('message', function(msg,{{workspace.id}}, {{subgroup.id}}) {
		$("#messages").append('<li>'+msg+'</li>');
		console.log('Received message');
	});
	$('#sendbutton').on('click', function() {
		socket.send($('#myMessage').val());
		$('#myMessage').val('');
	});
});

  </script>

  </head>
  <h1> {{workspace.workspaceName}} </h1>
  <h2> {{subgroup.name}}</h2>
<ul id="messages">
  {%for msg in messages %}
    <li>{{msg}}</li>
  {% endfor %}
  </ul>

  <ul id="messages"></ul>
  <input type="text" id="myMessage">
  <button id="sendbutton">Send</button>









{% endblock %}
